In [1]:
import numpy as np

In [ ]:
# why numpy??
# To understand the difference between 1,2,3D arrays, to apply linear algebra
# and apply operations without using for-loops

# THE BASICS

In [ ]:
# In numpy dimensions are called as axes.
# Functions:

ndarray.ndim  - the number of axes of array
ndarray.shape - to know the shape of array(n,m) - (row,column)
ndarray.size - total element in array
ndarray.itemsize - size in bytes of each element
ndarray.dtype - data type of array

# Example

In [41]:
a = np.arange(15).reshape(3,5)
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [3]:
a.shape

(3, 5)

In [4]:
a.ndim

2

In [5]:
a.size

15

# Creating array

In [11]:
# we can also create array from regular python list or tuple using array function
a = np.array([2,3,4])
a
b = np.array([2.1,3.1,4.1])
a,b

(array([2, 3, 4]), array([2.1, 3.1, 4.1]))

In [17]:
c = np.array([(1,2,3),(4,5,6)])
c
c,c.shape

(array([[1, 2, 3],
        [4, 5, 6]]),
 (2, 3))

In [20]:
#dtype of all the elemnets should be same

d = np.array([(1.5,2,3),(4,5,6)])
d
d,d.dtype

(array([[1.5, 2. , 3. ],
        [4. , 5. , 6. ]]),
 dtype('float64'))

In [22]:
#converting our element to complex numbers

e = np.array([(1,2),(3,4)],dtype=complex)
e

array([[1.+0.j, 2.+0.j],
       [3.+0.j, 4.+0.j]])

# Zeros and Ones

In [23]:
np.zeros((3,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [24]:
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [26]:
np.empty((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

# linspace

In [27]:
#linspace(a,b,c)  here we can have c numbers from range of a to b

np.linspace(0,2,9)    # 9 number fro 0 to 2

array([0.  , 0.25, 0.5 , 0.75, 1.  , 1.25, 1.5 , 1.75, 2.  ])

In [30]:
pi = 3.14
f = np.linspace(0,2*pi, 100)

g = np.sin(f)
f,g

(array([0.        , 0.06343434, 0.12686869, 0.19030303, 0.25373737,
        0.31717172, 0.38060606, 0.4440404 , 0.50747475, 0.57090909,
        0.63434343, 0.69777778, 0.76121212, 0.82464646, 0.88808081,
        0.95151515, 1.01494949, 1.07838384, 1.14181818, 1.20525253,
        1.26868687, 1.33212121, 1.39555556, 1.4589899 , 1.52242424,
        1.58585859, 1.64929293, 1.71272727, 1.77616162, 1.83959596,
        1.9030303 , 1.96646465, 2.02989899, 2.09333333, 2.15676768,
        2.22020202, 2.28363636, 2.34707071, 2.41050505, 2.47393939,
        2.53737374, 2.60080808, 2.66424242, 2.72767677, 2.79111111,
        2.85454545, 2.9179798 , 2.98141414, 3.04484848, 3.10828283,
        3.17171717, 3.23515152, 3.29858586, 3.3620202 , 3.42545455,
        3.48888889, 3.55232323, 3.61575758, 3.67919192, 3.74262626,
        3.80606061, 3.86949495, 3.93292929, 3.99636364, 4.05979798,
        4.12323232, 4.18666667, 4.25010101, 4.31353535, 4.3769697 ,
        4.44040404, 4.50383838, 4.56727273, 4.63070707, 4.69414141,
        4.75757576, 4.8210101 , 4.88444444, 4.94787879, 5.01131313,
        5.07474747, 5.13818182, 5.20161616, 5.26505051, 5.32848485,
        5.39191919, 5.45535354, 5.51878788, 5.58222222, 5.64565657,
        5.70909091, 5.77252525, 5.8359596 , 5.89939394, 5.96282828,
        6.02626263, 6.08969697, 6.15313131, 6.21656566, 6.28      ]),
 array([ 0.        ,  0.06339181,  0.12652862,  0.18915646,  0.25102341,
         0.3118806 ,  0.37148323,  0.42959154,  0.48597179,  0.54039719,
         0.5926488 ,  0.64251645,  0.68979953,  0.73430784,  0.77586235,
         0.81429591,  0.8494539 ,  0.88119491,  0.90939126,  0.93392951,
         0.95471098,  0.97165205,  0.98468459,  0.99375617,  0.9988303 ,
         0.99988657,  0.99692072,  0.9899447 ,  0.97898656,  0.96409038,
         0.94531608,  0.92273918,  0.89645051,  0.8665558 ,  0.83317531,
         0.79644332,  0.75650759,  0.71352875,  0.66767969,  0.61914485,
         0.56811946,  0.51480877,  0.45942722,  0.4021976 ,  0.34335012,
         0.28312148,  0.22175397,  0.15949444,  0.09659333,  0.03330367,
        -0.03011996, -0.09342243, -0.1563491 , -0.21864685, -0.28006507,
        -0.34035671, -0.39927925, -0.45659566, -0.51207538, -0.56549525,
        -0.61664037, -0.66530501, -0.71129342, -0.75442061, -0.79451309,
        -0.83140959, -0.86496168, -0.89503441, -0.92150681, -0.94427238,
        -0.96323955, -0.97833203, -0.9894891 , -0.99666589, -0.99983352,
        -0.99897925, -0.99410652, -0.98523494, -0.97240018, -0.95565387,
        -0.93506338, -0.91071154, -0.8826963 , -0.85113036, -0.81614069,
        -0.77786803, -0.73646635, -0.69210219, -0.644954  , -0.59521143,
        -0.54307459, -0.4887532 , -0.43246576, -0.3744387 , -0.31490544,
        -0.25410545, -0.1922833 , -0.12968768, -0.06657038, -0.0031853 ]))

# Basic operations

In [31]:
g = np.array([20,30,40,50])

h = np.arange(4)

g,h

(array([20, 30, 40, 50]), array([0, 1, 2, 3]))

In [33]:
i = g-h
i

array([20, 29, 38, 47])

In [34]:
j = np.array([[1,1],[0,1]])

k = np.array([[2,0],[3,4]])
j,k

(array([[1, 1],
        [0, 1]]),
 array([[2, 0],
        [3, 4]]))

In [35]:
j*k     #elementwise product

array([[2, 0],
       [0, 4]])

In [36]:
j@k    #matrix product

array([[5, 4],
       [3, 4]])

In [37]:
j.dot(k)     #another matrix product or dot product

array([[5, 4],
       [3, 4]])

In [40]:
# Using random function
rg = np.random.default_rng(1)     #create obj of default random generator
l = rg.random((2,3))
l

array([[0.51182162, 0.9504637 , 0.14415961],
       [0.94864945, 0.31183145, 0.42332645]])

In [42]:
l.sum()

3.290252281866131

In [43]:
l.min()

0.14415961271963373

In [44]:
l.max()

0.9504636963259353

In [46]:
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [47]:
a.sum(axis=0)                #axis = 0 :column

array([15, 18, 21, 24, 27])

In [48]:
a.sum(axis=1)               # axis = 1:row

array([10, 35, 60])

In [49]:
a.cumsum(axis=1)            #cumulative sum across rows

array([[ 0,  1,  3,  6, 10],
       [ 5, 11, 18, 26, 35],
       [10, 21, 33, 46, 60]], dtype=int32)

In [51]:
# Numpy also support universal functions such as , sqrt,exp,sin,cos...etc


m = np.arange(4)

m

array([0, 1, 2, 3])

In [52]:
np.exp(m)

array([ 1.        ,  2.71828183,  7.3890561 , 20.08553692])

In [53]:
np.sqrt(m)

array([0.        , 1.        , 1.41421356, 1.73205081])

# Indexing, Slicing and iterating.

In [54]:
n = np.arange(10)**3
n

array([  0,   1,   8,  27,  64, 125, 216, 343, 512, 729], dtype=int32)

In [55]:
n[2]

8

In [56]:
n[2:5]

array([ 8, 27, 64], dtype=int32)

In [57]:
n[::2]                     #considering all the elements with a gap  of 2.

array([  0,   8,  64, 216, 512], dtype=int32)

In [58]:
#using function in numpy

def _(x,y):
    return 10*x+y

o = np.fromfunction(_,(5,4),dtype=int)
o

array([[ 0,  1,  2,  3],
       [10, 11, 12, 13],
       [20, 21, 22, 23],
       [30, 31, 32, 33],
       [40, 41, 42, 43]])

In [59]:
#if we want to have only elements of column 2 than,

o[0:5,1]              # consider all the rows and than go with specific column

array([ 1, 11, 21, 31, 41])

In [60]:
for _ in o.flat:
    print(_)

0
1
2
3
10
11
12
13
20
21
22
23
30
31
32
33
40
41
42
43

In [61]:
o.ravel()               #return the array, flattened

array([ 0,  1,  2,  3, 10, 11, 12, 13, 20, 21, 22, 23, 30, 31, 32, 33, 40,
       41, 42, 43])

In [62]:
 o.T           #return the transpose of array

array([[ 0, 10, 20, 30, 40],
       [ 1, 11, 21, 31, 41],
       [ 2, 12, 22, 32, 42],
       [ 3, 13, 23, 33, 43]])

# Stacking together different arrays

In [67]:
p = np.floor(10*rg.random((2,2)))
p

array([[3., 4.],
       [1., 4.]])

In [68]:
np.vstack((p))                        # vertically stacking

array([[3., 4.],
       [1., 4.]])

In [69]:
np.hstack((p))                        # horizontally stacking

array([3., 4., 1., 4.])